# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!subdir/
!scratch-simulator.cc
!CMakeLists.txt

!dra1/
!dra2/
!dra3/
!sim/

!drlf1
!drlf2

!dsra1
!dsra2
!dsra12